<div class="quizz__container">
    <div class="quizz__logo">
        <img src="assets/imgs/logo.png" alt="">
        <h3>{{title}}</h3>
    </div>
    <div *ngIf="!finished" class="quizz__questions">
        <h3 *ngIf="!draw">{{questionSelected.question}}</h3>
        <h3 *ngIf="draw">{{drawQuestion.question}}</h3>
    </div>
    <div *ngIf="!buttonCurrent" class="quizz__option">
        <button 
        *ngFor="let option of questionSelected.options"
        (click)="playerChoose(option.alias)"
        class="btn-option">
            {{option.name}}
        </button>
    </div>
    <div *ngIf="buttonDraw" class="quizz__option">
        <button 
        *ngFor="let id of drawOption"
        (click)="drawChoose(id)"
        class="btn-option">
            {{findOptionsDraw(id)}}
        </button>
    </div>
    <div *ngIf="finished" class="quizz__results">
        <h1>O RESULTADO É</h1>
        <p>{{answersSelected}}</p>
        <img src="{{imageAnswer}}" alt="">
    </div>
</div>
